# Auto detect text files and perform LF normalization
* text=auto

# Treat Unity assets as third-party/generated content for language statistics
Assets/** linguist-vendored

# Keep my C# source code in the language statistics
Assets/Scripts/** -linguist-vendored